*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
 background: url(./images/Web\ design.png);

}

nav{
    background-color:#111828;
}



.navbar-brand{
    margin-left: 3rem;
}



#collapsibleNavId .nav-link{
    color:white;
    font-weight: 400;
}
#collapsibleNavId .nav-link:hover{
    background: linear-gradient(to right,rgb(61, 123, 186), rgb(143, 80, 224));
    /* padding: 7px 15px; */
    font-weight: 400;
    border-radius: 5px;
}

#heading{
    margin-top: 5rem;
}



#heading h3 {
    background: linear-gradient(to right, rgb(143, 80, 224), #f32170);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 47px;
    font-weight: 700;
}

.name{
    font-size: 14px;
    margin-top: 2rem;
}

#second-phase{
    margin-top: 2rem;
}

#second-phase h4{
    color: white !important;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#second-phase p{
    color: rgba(255, 255, 255, 0.689);
    font-size: 12px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    
}

.first{
    background: rgba(245, 245, 245, 0.05);
    border-radius: 10px;
}

.icons{
    padding: 0.6rem;
    background:#7063BF;
    border-radius: 50%;
}
.icons1{
    padding: 0.6rem;
    background:#5AB989;
    border-radius: 50%;
}

.title{
    font-size: 20px !important;
    color: white !important;
}

.bottom p{
    color: rgb(255, 255, 255) !important;
}

.arrow:hover{
    cursor: pointer;
   color: white !important;
}

#phase-three{
    margin-top: 5.5rem;
}

.vin{
    line-height: 35px;
    color: white;
    font-size: 30px;
  }

  .cardd{
    background-color:rgba(255, 255, 255, 0.06);
    border-radius: 15px;
  }

  .card-body{
    line-height: 15px;
  }

  .sun{
    font-size: 30px;
    line-height: 5px;
    color: white;
  }

  .exe{
    color: rgba(245, 245, 245, 0.847);
  }

 .fa-skype{
    padding: 1px;
    color: white;
    cursor: pointer;
 }
 .fa-linkedin{
    padding: 1px;
    color: white;
    cursor: pointer;
 }
 .fa-twitter{
    padding: 1px;
    color: white;
    cursor: pointer;
 }
 .fa-facebook{
    padding: 1px;
    color: white;
    cursor: pointer;
 }

 .OurTeam{
    font-size: 45px;
 }

 .teammate{
    margin-top: 8rem;
 }

 .form{
    padding: 1rem 35rem 1rem 1rem;
    border-radius:30px;
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
 }


 .form::placeholder{
    color: white;
 }

 .input-form{
    background-color: rgba(255, 255, 255, 0.083);
    padding: 1.5rem;
    border-radius: 12px;
    position: relative;
    margin-top: 9rem;

 }

 .btn1{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
    background: linear-gradient(to right,rgb(61, 123, 186), rgb(143, 80, 224));
    position: absolute;
    top:130px;
    right: 180px;
 }

 .input-form h3{
    font-size: 35px;
    line-height: 50px;
 }

 .sky, .link, .twit {
    cursor: pointer;
    padding: 4px;
    background-color:rgba(255, 255, 255, 0.119);
    border-radius: 20px;}

    .face{
        cursor: pointer;
        padding: 5px;
        background-color:rgba(255, 255, 255, 0.119);
        border-radius: 50%;}

        .foot{
            cursor: pointer;
            color: rgba(255, 255, 255, 0.817);
        }
        .foot:hover{
            cursor: pointer;
            color: rgba(255, 255, 255, 0.817);
            text-decoration: underline;
        }

        .header{
            font-weight: 500;
        }
       
      








@media (max-width:768px) {
    .stage2{
        margin-left: 4.5rem;
        cursor: pointer;
    }
  

    .header{
        font-weight: 500;
        margin-top: 1rem;
    }

    .foot{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.817);
    }
    .foot:hover{
        cursor: pointer;
        color: rgba(255, 255, 255, 0.817);
        text-decoration: underline;
    }

    .form{
        padding: 1rem 7rem 1rem 1rem;
        border-radius:30px;
        background-color: rgba(255, 255, 255, 0.219);
        color: white;
     }

     .input-form{
        background-color: rgba(255, 255, 255, 0.083);
        padding: 1.5rem;
        border-radius: 12px;
        position: relative;
        margin-top: 5rem;
        padding-bottom: 4rem;
    
     }

     .btn1{
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 40px;
        font-size: 20px;
        font-weight: 500;
        color: white;
        border: none;
        background: linear-gradient(to right,rgb(61, 123, 186), rgb(143, 80, 224));
        position: absolute;
        top:283px;
        right: 70px;
     }

    .teammate{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
     }
    
    .navbar-brand{
        margin-left: 0rem;
    }

    #collapsibleNavId .nav-link:hover{
        color: white;
        font-weight: 700;
    }

    #heading p{
        text-align: center;
    }
 
    #heading h3{
        color: rgb(143, 80, 224);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
      }

      .vim{
        margin-top: 2rem;
        color: white;
      }
      .vin{
        line-height: 25px;
        color: white;
      }

      #collapsibleNavId .nav-link{
        font-weight: 700;
        width: 100%;
    }

    #second-phase p{
        color: white;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* margin-top: 0rem; */
        
    }

    .first{
        background: rgba(245, 245, 245, 0.05);
        border-radius: 10px;
        margin-top: 1rem;
    }

    #phase-three{
        margin-top: 1.5rem;
    }

    .img{
        width: 40%;
    }














}